.navbar,
.socialbar {
  background-color: rgba(50, 50, 50, 0.4);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(90, 90, 90, 0.5);
}
.navbarButton,
.facebookButton,
.twitterButton,
.instagramButton,
.linkedinButton,
.githubButton,
.youtubeButton,
.shareButton,
.homeButton,
.skillsButton,
.contactButton,
.aboutButton {
  width: 75%;
  height: 5%;
  margin: 10px 10px 10px 12.5%;
  cursor: pointer;
  background: none;
  background-image: url();
  background-repeat: no-repeat;
  background-position: 5% 50%;
  border: none;
  outline: none;
}
.navbar {
  height: 100%;
  margin: 0;
}
.navbarButton,
.homeButton,
.skillsButton,
.contactButton,
.aboutButton {
  border-bottom: 1px solid #707070;
  border-radius: 20px 20px 0px 0px;
  font-family: Inconsolanta, Courier, monospace;
  color: white;
  font-size: 20px;
  transition: background-color 0.4s linear;
}
.homeButton {
  background-image: url(../img/baseline-home-24px.svg);
}
.homeButton:hover {
  background-color: rgba(146, 14, 62, 0.5);
}
.skillsButton {
  background-image: url(../img/baseline-settings-20px.svg);
}
.skillsButton:hover {
  background-color: rgba(102, 217, 239, 0.5);
}
.contactButton {
  background-image: url(../img/baseline-mail_outline-24px.svg);
}
.contactButton:hover {
  background-color: rgba(166, 226, 46, 0.5);
}
.aboutButton {
  background-image: url(../img/baseline-list-24px.svg);
}
.aboutButton:hover {
  background-color: rgba(253, 151, 31, 0.5);
}
.socialbar {
  height: 100%;
}
.facebookButton {
  background-image: url(../img/icons8-facebook.svg);
}
.twitterButton {
  background-image: url(../img/icons8-twitter.svg);
}
.instagramButton {
  background-image: url(../img/icons8-instagram.svg);
}
.linkedinButton {
  background-image: url(../img/icons8-linkedin.svg);
}
.githubButton {
  background-image: url(../img/icons8-octocat.svg);
}
.youtubeButton {
  background-image: url(../img/icons8-play-button.svg);
}
.shareButton {
  background-image: url(../img/baseline-share-24px.svg);
  position: absolute;
  bottom: 2%;
}
.contentContainer {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(90, 90, 90, 0.5);
}
.contentContainer h1 {
  margin-top: 2em;
  margin-bottom: 0;
  text-align: center;
  font-family: Inconsolata, Courier, monospace;
  font-size: 4em;
  color: white;
}
.contentContainer hr {
  width: 80%;
}
.contentContainer h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  text-align: center;
  font-family: 'Baskerville Old Face', Courier, monospace;
  font-size: 2em;
  color: white;
}
.contentContainer section {
  color: white;
  font-family: 'Bell MT', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  padding: 0 10%;
}
html,
body,
.root {
  width: 100%;
  height: 100%;
}
.container,
.container-fluid,
.row {
  margin: 0;
  padding: 0;
}
.background-image:before {
  width: 100%;
  height: 100%;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url("../img/background-code.png");
  -webkit-filter: blur(7px);
  -moz-filter: blur(7px);
  -o-filter: blur(7px);
  -ms-filter: blur(7px);
  filter: blur(7px);
  background-repeat: no-repeat;
  background-size: cover;
}
