@blurRange: 7px;
@barTheme: 
{
    @primaryColor: fade(rgb(0, 0, 0), 35%);
    @secondaryColor: fade(rgb(63, 63, 63), 80%);
    background-color: @primaryColor;
    border: 4px;
    border-color: @secondaryColor;
};

body
{
    width: 100%;
    height: 100%;
}

.background-image:before
{
    width: 100%;
    height: 100%;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    
    background-image: url("../img/background-code.png");

    -webkit-filter: blur(@blurRange);
    -moz-filter: blur(@blurRange);
    -o-filter: blur(@blurRange);
    -ms-filter: blur(@blurRange);
    filter: blur(@blurRange);
    
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar
{
    position: fixed;
    top: 0;
    left: 0;
    
    width: 15%;
    height: 100%;
    
    @barTheme();
}

.socialbar
{
    position: fixed;
    top: 0;
    right: 0;

    width: 3%;
    height: 100%;

    @barTheme();
}