.navbar,
.socialbar {
  background-color: rgba(50, 50, 50, 0.4);border-width: 1px;border-style: solid;border-color: rgba(90, 90, 90, 0.5);
}
@media (min-width: 992px) {
  .navbar,
  .socialbar {
    height: 100%;
  }
}.socialButton,
.facebookButton,
.twitterButton,
.instagramButton,
.linkedinButton,
.githubButton,
.youtubeButton,
.shareButton {
  width: 75%;height: 5%;margin: 10px 10px 10px 12.5%;cursor: pointer;background: none;background-image: url();background-repeat: no-repeat;background-position: 5% 50%;background-size: contain;border: none;outline: none;
}
.navbar {
  margin: 0;
}
@media (min-width: 992px) {
  .navbar {
    position: fixed;
    max-width: 18%;
  }
  .navbar ul {
    min-width: 18%;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .navbar + .container-fluid {
    padding-left: 18%;
  }
}
.homeButton a {
  width: 75%;
  height: 5%;
  margin: 10px 10px 10px 12.5%;
  cursor: pointer;
  background: none;
  background-image: url();
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: contain;
  border: none;
  outline: none;
  border-bottom: 1px solid #707070;
  text-align: center;
  font-family: Inconsolanta, Courier, monospace;
  color: white;
  font-size: 20px;
  transition: background-color 0.4s linear;
  background-image: url(../img/baseline-home-24px.svg);
}
.nav-pills > .homeButton a:hover,
.nav-pills > .homeButton a:active,
.nav-pills > .homeButton a:focus {
  background-image: url(../img/baseline-home-24px.svg);
  background-color: rgba(146, 14, 62, 0.5);
  border-radius: 20px 20px 0px 0px;
}
.nav-pills > .homeButton.active a,
.nav-pills > .homeButton.active a:hover,
.nav-pills > .homeButton.active a:active {
  background-color: rgba(146, 14, 62, 0.5);
  border-radius: 20px 20px 0px 0px;
}
.skillsButton a {
  width: 75%;
  height: 5%;
  margin: 10px 10px 10px 12.5%;
  cursor: pointer;
  background: none;
  background-image: url();
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: contain;
  border: none;
  outline: none;
  border-bottom: 1px solid #707070;
  text-align: center;
  font-family: Inconsolanta, Courier, monospace;
  color: white;
  font-size: 20px;
  transition: background-color 0.4s linear;
  background-image: url(../img/baseline-settings-20px.svg);
}
.nav-pills > .skillsButton a:hover,
.nav-pills > .skillsButton a:active,
.nav-pills > .skillsButton a:focus {
  background-image: url(../img/baseline-settings-20px.svg);
  background-color: rgba(102, 217, 239, 0.5);
  border-radius: 20px 20px 0px 0px;
}
.nav-pills > .skillsButton.active a,
.nav-pills > .skillsButton.active a:hover,
.nav-pills > .skillsButton.active a:active {
  background-color: rgba(102, 217, 239, 0.5);
  border-radius: 20px 20px 0px 0px;
}
.projectsButton a {
  width: 75%;
  height: 5%;
  margin: 10px 10px 10px 12.5%;
  cursor: pointer;
  background: none;
  background-image: url();
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: contain;
  border: none;
  outline: none;
  border-bottom: 1px solid #707070;
  text-align: center;
  font-family: Inconsolanta, Courier, monospace;
  color: white;
  font-size: 20px;
  transition: background-color 0.4s linear;
  background-image: url(../img/rate-star-button.svg);
}
.nav-pills > .projectsButton a:hover,
.nav-pills > .projectsButton a:active,
.nav-pills > .projectsButton a:focus {
  background-image: url(../img/rate-star-button.svg);
  background-color: rgba(166, 226, 46, 0.5);
  border-radius: 20px 20px 0px 0px;
}
.nav-pills > .projectsButton.active a,
.nav-pills > .projectsButton.active a:hover,
.nav-pills > .projectsButton.active a:active {
  background-color: rgba(166, 226, 46, 0.5);
  border-radius: 20px 20px 0px 0px;
}
.aboutButton a {
  width: 75%;
  height: 5%;
  margin: 10px 10px 10px 12.5%;
  cursor: pointer;
  background: none;
  background-image: url();
  background-repeat: no-repeat;
  background-position: 5% 50%;
  background-size: contain;
  border: none;
  outline: none;
  border-bottom: 1px solid #707070;
  text-align: center;
  font-family: Inconsolanta, Courier, monospace;
  color: white;
  font-size: 20px;
  transition: background-color 0.4s linear;
  background-image: url(../img/baseline-list-24px.svg);
}
.nav-pills > .aboutButton a:hover,
.nav-pills > .aboutButton a:active,
.nav-pills > .aboutButton a:focus {
  background-image: url(../img/baseline-list-24px.svg);
  background-color: rgba(253, 151, 31, 0.5);
  border-radius: 20px 20px 0px 0px;
}
.nav-pills > .aboutButton.active a,
.nav-pills > .aboutButton.active a:hover,
.nav-pills > .aboutButton.active a:active {
  background-color: rgba(253, 151, 31, 0.5);
  border-radius: 20px 20px 0px 0px;
}
@media (max-width: 767px) {
  .socialButton,
  .facebookButton,
  .twitterButton,
  .instagramButton,
  .linkedinButton,
  .githubButton,
  .youtubeButton,
  .shareButton {
    width: 25px;
    height: 25px;
  }
}
@media (min-width: 768px) {
  .socialButton,
  .facebookButton,
  .twitterButton,
  .instagramButton,
  .linkedinButton,
  .githubButton,
  .youtubeButton,
  .shareButton {
    width: 40px;
    height: 40px;
  }
}
.facebookButton {
  background-image: url(../img/icons8-facebook.svg);
}
.twitterButton {
  background-image: url(../img/icons8-twitter.svg);
}
.instagramButton {
  background-image: url(../img/icons8-instagram.svg);
}
.linkedinButton {
  background-image: url(../img/icons8-linkedin.svg);
}
.githubButton {
  background-image: url(../img/icons8-octocat.svg);
}
.youtubeButton {
  background-image: url(../img/icons8-play-button.svg);
}
.shareButton {
  background-image: url(../img/baseline-share-24px.svg);
  position: absolute;
  bottom: 2%;
}
.contentContainer {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  border-width: 0px;
  border-style: solid;
  border-color: rgba(90, 90, 90, 0.5);
}
.contentContainer h1 {
  padding-top: 2em;
  margin: 0;
  margin-bottom: 0;
  text-align: center;
  font-family: Inconsolata, Courier, monospace;
  font-size: 4em;
  color: white;
}
.contentContainer hr {
  width: 80%;
}
.contentContainer h2 {
  padding-top: 2em;
  margin: 0;
  margin-bottom: 1em;
  text-align: center;
  font-family: 'Baskerville Old Face', Courier, monospace;
  font-size: 2em;
  color: white;
}
.contentContainer section {
  color: white;
  font-family: 'Bell MT', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  padding: 0 10%;
}
.cardsContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
}
#first.cardsContainer .card:nth-child(1) .cardFace {
  background: #e07768;
}
#first.cardsContainer .card:nth-child(2) .cardFace {
  background: #6eadd4;
}
#first.cardsContainer .card:nth-child(3) .cardFace {
  background: #4aada9;
}
#second.cardsContainer .card:nth-child(1) .cardFace {
  background: rgba(146, 14, 62);
}
#second.cardsContainer .card:nth-child(2) .cardFace {
  background: rgba(102, 217, 239);
}
#second.cardsContainer .card:nth-child(3) .cardFace {
  background: rgba(166, 226, 46);
}
.card {
  position: relative;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  transition: 0.5s;
  margin-bottom: 10px;
  margin-left: 10px;
}
.cardFace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.7s;
  z-index: 1;
}
.cardText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  transition: 0.7s;
  color: #fff;
}
@media (min-width: 768px) {
  .cardText {
    white-space: nowrap;
  }
}
@media (max-width: 768px) {
  .longText {
    display: none;
  }
}
@media (min-width: 768px) {
  .shortText {
    display: none;
  }
}
html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  position: relative;
}
@media (min-width: 992px) {
  body {
    display: flex;
  }
}
.container,
.container-fluid,
.row {
  margin: 0;
  padding: 0;
}
.background-image:before {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  display: block;
  content: "";
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}
.background-image {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background-image: url("../img/background-code.png");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 992px) {
  .affix {
    position: inherit;
  }
}
@media (min-width: 992px) {
  .affix {
    position: fixed;
  }
}
html::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.5);
}
html::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(0, 0, 0, 0.5);
}
html::-webkit-scrollbar-thumb {
  background-color: rgba(253, 151, 31);
}
