@import (reference) url(basebar.less);

.navbar:extend(.barTheme)
{
    @offsite: 18%;
    
    margin: 0;
    @media (min-width: 992px) 
    {
        position: fixed;
        max-width: @offsite;
    }
    
    & + .container-fluid 
    {
        @media (min-width: 992px)
        {
            padding-left: @offsite;
        }
    }
}

.navbarButton(@color, @image)
{
    a
    {
        .buttonTheme();
        
        border-bottom: 1px solid #707070;
        border-radius: 20px 20px 0px 0px;

        font-family: Inconsolanta, Courier, monospace;
        color: white;
        font-size: 20px;

        transition: background-color 0.4s linear;

        background-image: @image;
    }

    .nav-pills > &
    {
        a:hover, a:active, a:focus
        {
            background-image: @image;
            background-color: @color;
        }
    }

    .nav-pills > &.active
    {
        a, a:hover, a:active
        {
            background-color: @color;
        }
    }
}

.homeButton
{
    @color: rgba(146, 14, 62, 0.5);
    @image: url(../img/baseline-home-24px.svg);
    
    .navbarButton(@color, @image);
}

.skillsButton
{
    @color: rgba(102, 217, 239, 0.5);
    @image: url(../img/baseline-settings-20px.svg);
    
    .navbarButton(@color, @image);
}

.contactButton
{
    @color: rgba(166, 226, 46, 0.5);
    @image: url(../img/baseline-mail_outline-24px.svg);
    
    .navbarButton(@color, @image);
}

.aboutButton
{
    @color: rgba(253, 151, 31, 0.5);
    @image: url(../img/baseline-list-24px.svg);
    
    .navbarButton(@color, @image);
}