.navbarButton,
.homeButton,
.skillsButton,
.contactButton,
.aboutButton {
  width: 75%;
  height: 5%;
  margin: 10px 10px 10px 12.5%;
  cursor: pointer;
  background: none;
  background-image: url();
  background-repeat: no-repeat;
  background-position: 5% 50%;
  border: none;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
}
.navbarButton,
.homeButton,
.skillsButton,
.contactButton,
.aboutButton {
  border-bottom: 1px solid #707070;
  font-family: Inconsolanta, Courier, monospace;
  color: white;
  font-size: 20px;
}
.homeButton {
  background-image: url(../img/baseline-home-24px.svg);
}
.skillsButton {
  background-image: url(../img/baseline-settings-20px.svg);
}
.contactButton {
  background-image: url(../img/baseline-mail_outline-24px.svg);
}
.aboutButton {
  background-image: url(../img/baseline-list-24px.svg);
}
