.socialButton,
.facebookButton,
.twitterButton,
.instagramButton,
.linkedinButton,
.githubButton,
.youtubeButton,
.shareButton {
  width: 75%;height: 5%;margin: 10px 10px 10px 12.5%;cursor: pointer;background: none;background-image: url();background-repeat: no-repeat;background-position: 5% 50%;background-size: contain;border: none;outline: none;
}
@media (max-width: 767px) {
  .socialButton,
  .facebookButton,
  .twitterButton,
  .instagramButton,
  .linkedinButton,
  .githubButton,
  .youtubeButton,
  .shareButton {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 768px) {
  .socialButton,
  .facebookButton,
  .twitterButton,
  .instagramButton,
  .linkedinButton,
  .githubButton,
  .youtubeButton,
  .shareButton {
    width: 100px;
    height: 100px;
  }
}
.facebookButton {
  background-image: url(../img/icons8-facebook.svg);
}
.twitterButton {
  background-image: url(../img/icons8-twitter.svg);
}
.instagramButton {
  background-image: url(../img/icons8-instagram.svg);
}
.linkedinButton {
  background-image: url(../img/icons8-linkedin.svg);
}
.githubButton {
  background-image: url(../img/icons8-octocat.svg);
}
.youtubeButton {
  background-image: url(../img/icons8-play-button.svg);
}
.shareButton {
  background-image: url(../img/baseline-share-24px.svg);
  position: absolute;
  bottom: 2%;
}
