.cardsContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
}
#first.cardsContainer .card:nth-child(1) .cardFace {
  background: #e07768;
}
#first.cardsContainer .card:nth-child(2) .cardFace {
  background: #6eadd4;
}
#first.cardsContainer .card:nth-child(3) .cardFace {
  background: #4aada9;
}
#second.cardsContainer .card:nth-child(1) .cardFace {
  background: rgba(146, 14, 62);
}
#second.cardsContainer .card:nth-child(2) .cardFace {
  background: rgba(102, 217, 239);
}
#second.cardsContainer .card:nth-child(3) .cardFace {
  background: rgba(166, 226, 46);
}
.card {
  position: relative;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  transition: 0.5s;
  margin-bottom: 10px;
  margin-left: 10px;
}
.cardFace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.7s;
  z-index: 1;
}
.cardText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  transition: 0.7s;
  color: #fff;
}
