@import (reference) url(basebar.less);

.navbar:extend(.barTheme) {
	@offsite: 20vw;

	margin: 0;
	padding-bottom: 2vh;

	@media (max-width: 991px) {
		flex-flow: row nowrap;
	}

	@media (min-width: 992px) {
		flex-flow: column nowrap;

		position: sticky;
		position: -webkit-sticky;
		top: 0;
		max-width: @offsite;
		height: 100vh;

		ul {
			min-width: @offsite;
			padding: 0;
		}
	}

	div.navbar-collapse {
		@media (min-width: 992px) {
			display: flex;
		}

		&.collapse:not(.show) {
			ul {
				min-width: 0;

				a {
					width: 35px;
					height: 35px;

					span.navText {
						display: none;
					}
				}
			}
		}

		ul.navbar-nav {
			@media (max-width: 695px) {
				width: 70vw;
			}

			@media (min-width: 696px) and (max-width: 991px) {
				width: 80vw;
			}

			.nav-item {
				flex-basis: 8vh;
			}
		}
	}
}

.navbarButton(@image, @hoverImage) {
	a {
		.buttonTheme();

		text-align: center;
		font-family: Inconsolanta, Courier, monospace;
		color: white;
		font-size: 20px;

		background-image: @image;
	}

	a.nav-link {
		&:hover,
		&:active,
		&:focus {
			color: white;
			background-image: @hoverImage;
			background-color: unset;
		}
	}

	a.nav-link.active {
		&,
		&:hover,
		&:active {
			color: white;
			background-image: @hoverImage;
			background-color: unset;
		}
	}
}

.homeButton {
	@image: url(../img/baseline-home-24px.svg);
	@hoverImage: url(../img/baseline-home-24px-hover.svg);

	.navbarButton(@image, @hoverImage);
}

.skillsButton {
	@image: url(../img/baseline-settings-20px.svg);
	@hoverImage: url(../img/baseline-settings-20px-hover.svg);

	.navbarButton(@image, @hoverImage);
}

.projectsButton {
	@image: url(../img/rate-star-button.svg);
	@hoverImage: url(../img/rate-star-button-hover.svg);

	.navbarButton(@image, @hoverImage);
}

.aboutButton {
	@image: url(../img/user-tie-solid.svg);
	@hoverImage: url(../img/user-tie-solid-hover.svg);

	.navbarButton(@image, @hoverImage);
}

.navbar-toggler.x-animation {
	@media (min-width: 992px) {
		align-self: self-end;
	}

	@media (max-width: 991px) {
		align-self: baseline;
		margin-top: 25px;
	}

	.icon-bar {
		display: block;
		width: 22px;
		height: 2px;
		border-radius: 1px;
		margin: 4px 0 4px 0;
		transition: all 0.15s;
		background: #ffffff;
	}

	.icon-bar {
		.icon-bar:nth-of-type(1) {
			transform: rotate(0);
		}

		.icon-bar:nth-of-type(2) {
			opacity: 1;
			filter: alpha(opacity=100);
		}

		.icon-bar:nth-of-type(3) {
			transform: rotate(0);
		}
	}

	&[aria-expanded="true"] {
		padding-left: 19px;
	}

	&[aria-expanded="true"] .icon-bar {
		&:nth-of-type(1) {
			transform: rotate(45deg);
			transform-origin: 10% 10%;
		}

		&:nth-of-type(2) {
			opacity: 0;
			filter: alpha(opacity=0);
		}

		&:nth-of-type(3) {
			transform: rotate(-45deg);
			transform-origin: 10% 90%;
		}
	}
}

.navbar-brand {
	align-self: flex-start;
	margin: 0;
	padding: 0;
}
